body {
  margin: 0;
  padding: 0;
}

.btn-wide {
  width: 201px;
  margin-top: 15px;
  display: inline-block;
}

.btn-wide button {
  width: 100%;
}

.error-label {
  color: red;
  font-size: 12px;
  height: 30px;
}

.spinner-container {
  height: 30px;
  margin-top:15px;
}

.height-30 {
  height: 30px;
}

.main-paper {
  margin-top: 20px;
  text-align: center;
}